#nameInputField{
	width										: 70vw;
	font-size								: 9vh;
	padding									: 1vh 2vw;
	text-align							: center;
	color										: #8d6706;
	border									: 2px solid #e0a409;
	box-shadow							: 0 0 4px #555;
	background-image				: linear-gradient(to bottom right, #ffbc0c 50%, #ffc60c 50%);
}
#nameInputField:focus{
	border									: 2px solid #aa7b00;
	box-shadow							: 0 0 8px #555;
}

#nameInputField:invalid {
  border: 2px solid red;
}
#nameInputField:invalid + #faultyInput{
  opacity                  : 1;
}

#nameInputField::placeholder {
	color										: #e0a409;
}
#nameInputField:-ms-input-placeholder {
	color										: #e0a409;
}
#nameInputField::-ms-input-placeholder {
	color										: #e0a409;
}

#faultyInput{
  margin-bottom						: 15vh;
  color                   : #bb0000;
  padding-top             : 7px;
  overflow                : hidden;
  opacity                  : 0;
}

@media screen and (orientation:portrait) {
	#nameInputField{
		font-size							: 4vh !important;
	}
}
