#titleName{
	font-family							: 'malibold', Fallback, sans-serif;
	color										: white;
	font-size								: 11vh;
	margin-bottom						: 7vh;
}

@media screen and (orientation:portrait) {
	#titleName{
		font-size							: 8vh !important;
	}
}
