#titleIcon{
	max-height							: 40vh;
	max-width								: 70vw;
}

#titleName{
	font-family							: 'malibold', Fallback, sans-serif;
	color										: white;
	font-size								: 11vh;
	margin-bottom						: 7vh;
}
#titleName::after{
  content                 : "Alpha";
	font-family							: 'malibold', Fallback, sans-serif;
	color										: black;
	font-size								: 3vh;
  position                : absolute;
  transform               : translateX(-50%) rotateZ(25deg);
}

@media screen and (orientation:portrait) {
	#titleName{
		font-size							: 8vh !important;
	}
}
