.pageHeader{
	color										: white;
  font-size               : 8vh;
  margin-bottom           : 7vh;
}

#roomcodeInputField{
	width										: 70vw;
	font-size								: 9vh;
	padding									: 1vh 2vw;
	text-align							: center;
	color										: #8d6706;
	border									: 2px solid #e0a409;
	box-shadow							: 0 0 4px #555;
	background-image				: linear-gradient(to bottom right, #ffbc0c 50%, #ffc60c 50%);
  margin-top              : 10vh;
}
#roomcodeInputField:focus{
	border									: 2px solid #aa7b00;
	box-shadow							: 0 0 8px #555;
}

#roomcodeInputField:invalid {
  border: 2px solid red;
}
#roomcodeInputField:invalid + #faultyInput{
  opacity                  : 1;
}

#roomcodeInputField::placeholder {
	color										: #e0a409;
}
#roomcodeInputField:-ms-input-placeholder {
	color										: #e0a409;
}
#roomcodeInputField::-ms-input-placeholder {
	color										: #e0a409;
}

#faultyInput{
  margin-bottom						: 15vh;
  color                   : #bb0000;
  padding-top             : 7px;
  overflow                : hidden;
  opacity                  : 0;
}

@media screen and (orientation:portrait) {
	#roomcodeInputField{
		font-size							: 4vh !important;
	}
}
