.pageHeaderLobby{
	color										: white;
  font-size               : 8vh;
  margin-bottom           : 1vh;
}

#roomCodeLabel{
  color                   : white;
  opacity                 : 0.5;
  font-size               : 3vh;
}

#roomCode{
  color										: white;
  font-size               : 6vh;
  opacity                 : 0.5;
  margin-bottom           : 4vh;
  -webkit-touch-callout		: text !important;
	-webkit-user-select			: text !important;
	-khtml-user-select			: text !important;
	-moz-user-select			  : text !important;
	-ms-user-select				  : text !important;
	user-select					    : text !important;
}

#lobbyButtonAlignTable{
  width                   : 90vw;
  margin                  : auto;
  margin-bottom           : 3vh;
}
#lobbyButtonAlignTable tr td:first-of-type, #lobbyButtonAlignTable tr td:last-of-type {
  text-align              : right;
  width                   : 45%;
}

#playButton{
  cursor                  : pointer;
  font-size               : 3.5vh;
  font-weight             : bold;
  color                   : black;
  background              : none;
  border                  : 3px solid rgba(0,0,0,0.5);
  border-radius           : 100px;
  padding                 : 10px 30px;
}
#playButton:hover{

}

#openCloseLobby{
  font-size               : 1.5vh;
  padding                 : 7px 15px;
  border-radius           : 100px;
  border                  : 1px outset rgba(255,255,255,0.2);
  color                   : white;
  max-width               : 100%;
  margin-right            : 10%;
}
.host{
    cursor                 : pointer;
}
.open{
  background-image				: linear-gradient(to bottom right, #02c800 50%, #35ca55 50%);
}
.closed{
  background-image				: linear-gradient(to bottom right, #c80228 50%, #ca3543 50%);
}

#playerContainer{
  height                  : 50vh;
  width                   : 90vw;
  margin                  : auto;
}

@media only screen and (max-width: 500px) {
  #lobbyButtonAlignTable tr td:first-of-type, #lobbyButtonAlignTable tr td:last-of-type {
    text-align              : right;
    width                   : 30%;
  }
}
