button:disabled{
	background-image				: linear-gradient(to bottom right, #BBBBBB 50%, #CCCCCC 50%);
}
button:hover:disabled{
	cursor									: default;
}

.bigActionButtonContainer{
	height									: 13vh;
}
.smallActionButtonContainer{
	height									: 8vh;
  display                 : inline-block;
}
.left{
  float                   : left;
}
.right{
  float                   : right;
}

.bigActionButton{
	background-color				: #c80228;
	border									: none;
	color										: white;
	padding									: 2vh 4vw;
	border-radius						: 10px;
	font-size								: 9vh;
  margin                  : 12px;
}
.bigActionButton:hover{
	cursor									: pointer;
	background-color				: #c80228;
	font-size								: 9.2vh;
}
.bigActionButton:active{
	font-size								: 8.5vh;
	padding									: 1.75vh 3.5vw;
}

.smallActionButton{
	background-color				: #c80228;
	border									: none;
	color										: white;
	padding									: 1.5vh 3.5vw;
	border-radius						: 10px;
	font-size								: 5vh;
}
.smallActionButton:hover{
	cursor									: pointer;
	background-color				: #c80228;
	font-size								: 5.1vh;
}
.smallActionButton:active{
	font-size								: 4.9vh;
	padding									: 1.55vh 3.5vw;
}

.red{
  background-image				: linear-gradient(to bottom right, #c80228 50%, #ca3543 50%);
}
.red:active{
  background-image				: linear-gradient(to bottom right, #ca3543 50%, #c80228 50%);
}

.green{
  background-image				: linear-gradient(to bottom right, #02c800 50%, #35ca55 50%);
}
.green:active{
  background-image				: linear-gradient(to bottom right, #35ca55 50%, #02c800 50%);
}

@media screen and (orientation:portrait) {
	.bigActionButton{
		font-size							: 5vh;
	}
	.bigActionButton:hover{
		font-size							: 5.2vh;
	}
	.bigActionButton:active{
		font-size							: 4.5vh;
	}

  .smallActionButtonContainer{
  	height								: 6vw;
  }
  .smallActionButton{
		font-size							: 4vw;
    padding								: 1vw 3.5vw;
	}
	.smallActionButton:hover{
		font-size							: 4.1vw;
	}
	.smallActionButton:active{
		font-size							: 3.9vw;
    padding								: 1.05vw 3.5vw;
	}
}
