#topMenuBar{
  text-align              : start;
  z-index                 : 98;
}

.topMenuIcon{
	opacity									: 0.5;
	cursor									: pointer;
  margin                  : 12px;
  height                  : 5vh;
}

#quitButton{
  transform               : scaleX(-1);
}

#backButton{
  height									: 7vh;
}

@media screen and (orientation:portrait) {
	#backButton{
		height								: 5vh;
	}
}
