.cardContainer{
	display    							: inline-block;
	box-sizing 							: border-box;
	padding 								: 15px;
	min-width 							: fit-content !important;
	width 									: 50% !important;
}
.card{
	padding 								: 20px 12px;
	background-color 				: #DDDDDD;
	border 									: 5px ridge black;
}

.playerName{
	font-size 							: 4vh;
	display 								: inline-block;
}

.pcardIcon{
	height 									: 4vh;
	margin-right 						: 7px;
	margin-left 						: 7px;
}
.hostIcon{
	float 									: left;
}
.kickIcon{
	float 									: right;
	cursor 									: pointer;
}

@media only screen and (max-width: 500px) {
	.cardContainer{
		width 									: 100% !important;
		padding 								: 7px;
	}
}
@media only screen and (min-width: 769px) {
	.cardContainer{
		width 									: 33.33% !important;
	}
}
@media screen and (orientation:portrait) {
	.playerName{
		font-size 							: 4vw;
	}
	.pcardIcon{
		height 									: 4vw;
	}
}
