#popupContainer{
  position            : absolute;
  left                : 0;
  top                 : 0;
  right               : 0;
  bottom              : 0;
  z-index             : 99;
  background-color    : rgba(0,0,0,0.2);
}

#popup{
  height    			   	: 60vh;
  width               : 120vh;
  max-width           : 600px;
  max-height          : 350px;
  min-height          : 180px;
  min-width           : 300px;
  background-color    : white;
  margin              : auto;
  position            : absolute;
  top									: 50%;
  left                : 50%;
  -ms-transform				: translate(-50%, -50%);
	transform						: translate(-50%, -50%);
  background-color    : #EEEEEE;
  border-radius       : 5px;
}

#popupText{
  font-size           : 3.2vh;
  padding             : 12px;
  text-align          : center;
}

#buttonWrap{
  position            : absolute;
  bottom              : 12px;
  left                : 12px;
  right               : 12px;
}

@media screen and (orientation:portrait) {
	#popup{
    width             : 90vw;
    height            : 40vw;
	}
  #popupText{
    font-size         : 3.2vw;
  }
}
@media only screen and (min-width: 768px) {
  #popup{
    width             : 50vw;
    height            : 30vw;
  }
}
