#tooltip{
	padding									: 5px;
	background-color				: #f5d800;
	box-shadow							: 0 0 4px #555;
}
#tooltip p{
	font-size								: 12px;
	display									: inline-block;
}
#tooltipCheck{
	display									: none;
}
#tooltipCloseIcon{
	cursor									: pointer;
	float										: right;
	margin-right						: 5px;
}
#tooltipCheck:checked + #tooltip{
	display									: none;
}

@media screen and (orientation:landscape) {
  #tooltip{
		display								: none;
	}
}
@media screen and (orientation:portrait) {
  #tooltip{
		display								: none;
	}
}
