*{
	padding						      : 0;
	margin					    	  : 0;
	font-family					    : los-feliz, serif;
	font-family				    	: 'maliregular', Fallback, sans-serif;
	-webkit-touch-callout		: none;
	-webkit-user-select			: none;
	-khtml-user-select			: none;
	-moz-user-select			  : none;
	-ms-user-select				  : none;
	user-select					    : none;
	outline						      : none;
}

html{
	height						      : -webkit-fill-available;
}

body{
	width						       	: 100vw;
	background-color			 	: #00aaff;
	min-height					   	: 100vh;
	min-height					   	: -webkit-fill-available;
}

#amountPlayers{
	color 									: white;
	opacity									: 0.5;
	position								: absolute;
	bottom									: 12px;
	left 										: 12px;
}

#contentContainer{
	text-align							: center;
	position								: absolute;
	top											: 50%;
	-ms-transform						: translateY(-50%);
	transform								: translateY(-50%);
	width										: 100%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*---FONTS ASSIGNMENT------------------------------------------------------------------------------FONTS ASSIGNMENT---*/


@font-face {
    font-family: 'malibold';
    src: url('font/mali-bold-webfont.woff2') format('woff2'),
         url('font/mali-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malibold_italic';
    src: url('font/mali-bolditalic-webfont.woff2') format('woff2'),
         url('font/mali-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maliextralight';
    src: url('font/mali-extralight-webfont.woff2') format('woff2'),
         url('font/mali-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maliextralight_italic';
    src: url('font/mali-extralightitalic-webfont.woff2') format('woff2'),
         url('font/mali-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maliitalic';
    src: url('font/mali-italic-webfont.woff2') format('woff2'),
         url('font/mali-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malilight';
    src: url('font/mali-light-webfont.woff2') format('woff2'),
         url('font/mali-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malilight_italic';
    src: url('font/mali-lightitalic-webfont.woff2') format('woff2'),
         url('font/mali-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malimedium';
    src: url('font/mali-medium-webfont.woff2') format('woff2'),
         url('font/mali-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malimedium_italic';
    src: url('font/mali-mediumitalic-webfont.woff2') format('woff2'),
         url('font/mali-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maliregular';
    src: url('font/mali-regular-webfont.woff2') format('woff2'),
         url('font/mali-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malisemibold';
    src: url('font/mali-semibold-webfont.woff2') format('woff2'),
         url('font/mali-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'malisemibold_italic';
    src: url('font/mali-semibolditalic-webfont.woff2') format('woff2'),
         url('font/mali-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
